.bar {
    border: none;
    min-height: 35px;
    font-family: "CodeNewRoman Nerd Font Mono";
    margin-left: 15px;
    margin-right: 5px;
}

.app-launcher {
    border-radius: 10px;
    background-color: #191a24;
    color: #c0caf5;
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;
}

.box {
    color: #c0caf5;
    background-color: #191a24;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.bluetooth .icon {
    color: #0087bd;
}

.menu {
    background-color: #191a24;
}

.menu-item {
    color: #c0caf5;
}

.selected-menu-item {
    background-color: #302b35;
}

.switch {
    background: #0087bd;
}

.disable-switch {
    background: #555;
}

.switch slider {
    background: #c0caf5;
}

.clock .icon {
    color: #b69bf1;
}

.powermenu-icon {
    color: #f7768b;
    background-color: #191a24;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.network .connected {
    color: #90cdfa;
}
.network .disconnected {
    color: #ff005f;
}

.system-tray-box {
    background-color: #191a24;
    border-radius: 10px;
    color: #c0caf5;
}

.window-title {
    margin-left: 9px;
    margin-right: 9px;
}

.workspaces-box {
    border-radius: 10px;
    background-color: #191a24;
    color: #c0caf5;
    /* margin-top: 15px; */
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.workspace-btn {
    background: #191a24;
    color: #c0caf5;
}

.workspace-label {
    color: #c0caf5;
}

.workspace-label-active {
    color: #2ac3de;
}
