@import "~/.config/rofi/config.rasi"

window {
    fullscreen:   true;
}

listbar,
listbox,
dummy,
inputbar,
mainbox {
    background-color: @background;
}

listview {
    columns: 3;
}

entry {
    width: 70%;
}
