[submodule "zsh"]
	path = zsh
	url = git@github.com:TropinoneH/zsh-configuration.git
[submodule "config/wezterm"]
	path = config/wezterm
	url = git@github.com:TropinoneH/wezterm-configuration.git
[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:TropinoneH/nvim-configuration.git
[submodule "config/fastfetch"]
	path = config/fastfetch
	url = git@github.com:TropinoneH/fastfetch-configuration.git
