[Desktop Entry]
Name=WebStorm
Comment=Coding with Web
GenericName=Text Editor
Exec=/usr/local/applications/jetbrains/webstorm/bin/webstorm.sh
Icon=/usr/local/applications/jetbrains/webstorm/bin/webstorm.svg
Type=Application
Terminal=false
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=jetbrains;webstorm;
